{% load static %}
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'users:account' %}">
      <i class="bi bi-person"> Mon compte</i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'substitute:all_favorites' %}">
      <img src={% static 'assets/icons/noun-carrot-29691.png' %} height="30em"/> Mes aliments
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'users:logout' %}" >
      <i class="bi bi-box-arrow-right"> Déconnexion</i>
    </a>
  </li>
