  <li class="nav-item">
    <a class="nav-link" href="{% url 'users:login' %}">
      <i class="bi bi-box-arrow-in-right"> Se connecter</i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'users:signup' %}">
      <i class="bi bi-person-plus-fill"> S'enregistrer</i>
    </a>
  </li>