.navbar-nav{
  justify-content: flex-end !important
}

.card.col-md-4.col-sm-6 img {
  text-align: center;
  object-fit: contain;
  margin: auto;
  display: block;
}

.card {
  display: block;
}

#rechercher{
  background-image: url('../assets/img/bg-home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}

#top-fond{
  background-image: url('../assets/img/bg-home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 20vh;
}

#resultat{
  padding-bottom: 0% !important
}

.img-thumbnail {
  max-width: none;
  height: 20em;
}

#product_detail.container{
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 50vh;
  background-size: contain;
}