{% extends "home.html" %}

{% load bootstrap5 %}

{% block title %}Mon compte{% endblock title %}

{% block content %}
<section class="page-section bg-image" id="top-fond">
    <div class="text-white text-center">
        Ahoy
        </br>
        {{ user.first_name }}
    </div>
</section>
<div class="container text-center text-muted my-3">
    <h4 class="border">{{ user.email }}</h4>
</div>
{% endblock content %}